com.github.turmeric.eclipse.extras.core/schema/library/LibraryType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2006-2010 eBay Inc. All Rights Reserved. Licensed under 
	the Apache License, Version 2.0 (the "License"); you may not use this file 
	except in compliance with the License. You may obtain a copy of the License 
	at http://www.apache.org/licenses/LICENSE-2.0 -->
<xs:schema targetNamespace="http://www.ebayopensource.org/turmeric/common/config"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebayopensource.org/turmeric/common/config"
	xmlns:tix="http://www.ebayopensource.org/turmeric/common/config"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<include schemaLocation="TypeInformation.xsd" />

	<xs:element name="libraryType" type="tns:LibraryType"></xs:element>

	<xs:complexType name="LibraryType">
		<xs:sequence>
			<xs:element name="libraryInfo" type="tix:TypeLibraryType"
				minOccurs="1" maxOccurs="1">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="string" use="required"></xs:attribute>
		<xs:attribute name="version" type="token" use="required"></xs:attribute>
		<xs:attribute name="namespace" type="xs:anyURI"></xs:attribute>
		<xs:attribute name="package" type="xs:token"></xs:attribute>
	</xs:complexType>

</xs:schema>
