com.github.turmeric.eclipse.extras.core/schema/library/sun-jaxb-episode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
 <!-- This schema is not given by JAXB, this has been prepared internally by the SOATools team to ease the generation of episode files -->
<schema targetNamespace="http://java.sun.com/xml/ns/jaxb"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://java.sun.com/xml/ns/jaxb">


	<element name="bindings" type="tns:Bindings"></element>

	<complexType name="Bindings">
		<sequence>
			<element name="bindings" type="tns:BindingsLevelTwo"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
		<attribute name="version"></attribute>
		<anyAttribute></anyAttribute>
	</complexType>

	<complexType name="BindingsLevelTwo">
		<sequence>
			<element name="schemaBindings" type="tns:SchemaBindings"
				minOccurs="1" maxOccurs="1">
			</element>
			<element name="bindings" type="tns:BindingsLevelThree"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
		<attribute name="scd"></attribute>
		<attribute name="xmlnstns"></attribute>
	</complexType>

	<complexType name="BindingsLevelThree">
		<sequence>
			<element name="class" type="tns:BindingsClassType"
				minOccurs="1" maxOccurs="1">
			</element>
		</sequence>
		<attribute name="if-exists"></attribute>
		<attribute name="scd"></attribute>
	</complexType>

	<complexType name="SchemaBindings">
		<attribute name="map"></attribute>
	</complexType>
	
	<complexType name="BindingsClassType">
	<attribute name="ref"></attribute>
	</complexType>

</schema>
