com.github.turmeric.eclipse.extras.core/schema/library/TypeInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
 <schema targetNamespace="http://www.ebayopensource.org/turmeric/common/config"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebayopensource.org/turmeric/common/config">

	<element name="typeLibraryType" type="tns:TypeLibraryType" />

	<complexType name="TypeLibraryType">
		<sequence>
			<element name="type" type="tns:TypeInformationType"  minOccurs="0"    maxOccurs="unbounded"/>
		</sequence>
		<attribute name="libraryName" type="string" use="required"></attribute>
		<attribute name="version" type="string" use="required"></attribute>
		<attribute name="category" type="string"></attribute>
		<attribute name="libraryNamespace" type="anyURI" ></attribute>
	</complexType>

	<complexType name="TypeInformationType">
		<attribute name="xml-type-name" type="string" use="required" />
		<attribute name="java-type-name" type="string" use="required" />
		<attribute name="version" type="string" use="required" />
	</complexType>

</schema>
