com.github.turmeric.eclipse.extras.core/schema/library/TypeDependencies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
 <schema targetNamespace="http://www.ebayopensource.org/turmeric/common/config" 
 elementFormDefault="qualified"
 xmlns="http://www.w3.org/2001/XMLSchema" 
 xmlns:tns="http://www.ebayopensource.org/turmeric/common/config">

	<element name="typeLibraryDependencyType"
		type="tns:TypeLibraryDependencyType"/>

	<complexType name="TypeLibraryDependencyType">
		<sequence>
			<element name="type"
				type="tns:TypeDependencyType"  maxOccurs="unbounded">
			</element>
		</sequence>
		<attribute name="libraryName" type="string" use="required"></attribute>
		<attribute name="version" type="string" use="required"></attribute>
	</complexType>


	<complexType name="TypeDependencyType">
		<sequence>
			<element name="referredTypeLibrary"
				type="tns:ReferredTypeLibraryType" maxOccurs="unbounded">
			</element>
		</sequence>
		<attribute name="name" type="string" use="required"></attribute>
		<attribute name="version" type="string" use="required"></attribute>
	</complexType>

	<complexType name="ReferredTypeLibraryType">
		<sequence>
			<element name="referredType" type="tns:ReferredType" maxOccurs="unbounded"></element>
		</sequence>
		<attribute name="name" type="string" use="required"></attribute>
		<attribute name="version" type="string" use="required"></attribute>
	</complexType>

	<complexType name="ReferredType">
		<attribute name="name" type="string" use="required"></attribute>
		<attribute name="version" type="string" use="required"></attribute>
	</complexType>


</schema>
